<div class="main">
	<div class="container">
		{if:$bname}
			<h2><b><span style="color:red;">{$bname}</span>有{$goodsNum}件商品</b></h3>
		{/if}
		
		{if:count($goods_list)}
		<div style="display:;">
			<!-- 排序选择 -->
			<ul class="sort clearfix">	
				<li class="tabitem"><a title="" {if:$sort==0}class="active"{/if} href="/blist/{$bid}.html" target="_self">默认排序</a></li>	
				<li class="tabitem"><a title=""  {if:$sort==1}class="active"{/if} href="/blist/{$bid}_1.html"  target="_self">销量高→底</a></li>	
				<li class="tabitem"><a title=""  {if:$sort==2}class="active"{/if} href="/blist/{$bid}_2.html"  target="_self">折扣多→少</a></li>
			</ul>
		</div>
		<div class="pagination" style="margin-top:20px;margin-bottom:20px;"></div>
		<div id="itemContainer" class="row clearfix">
			{foreach:items=$goods_list item=$goods}
			<div class="column" {if:$key%4==0} style="margin-left:0;"{/if}>
				<p class="from" style="display:none;">{$goods['bname']}</p>
				<a href="/buy/{$goods['id']}.html" title="{$goods['name']}" target="_blank">
					<div class="image">
							<img src="{webroot:}img/no_pic.gif" data-original="{$goods['list_img']}" alt="{$goods['name']}" />
					</div>
				</a>
				<p class="pro_price">
					<strong class="new_price">
						￥{$goods['sell_price']}
						
						{if:$goods['discount']<9.5}
						<span style="color:grey">(</span><span style="color:green">{$goods['discount']}折</span><span style="color:grey">)</span>
						{/if}
					</strong>
					<span class="old_price">￥{$goods['market_price']}</span>
				</p>
				
				<p class="name">{echo:IString::substr($goods['name'],42,'....')}</p>
				<p class="volume">月销量：{$goods['volume']}</p>
				<p class="brand">品牌：<a  title="{$goods['bname']}" href="javascript:;">{$goods['bname']}</a></p>
				<p class="gobuy"><a href="/buy/{$goods['id']}.html" title="去看看" target="_blank">去看看</a></p>
			</div>
			{/foreach}
		</div>
		<div class="pagination"></div>
		{else:}
		<div style="height:300px;line-height:300px;text-align:center;">
			没有改品牌的商品，您可以去 <a href="/" target="_self" title="首页看看"><b>首页看看~</b></a>
		</div>
		{/if}
	</div>
</div><!-- // end #main -->

<script type="text/javascript">
$(function(){

	$(".pagination").paginate({
		count 		: Math.ceil({$goodsNum}/{$pagesize}),
		start 		: parseInt({$page})+1,
		display     : 13,
		border		: false,
		background_color:'#f6f6f6',
		text_color  			: '#333',
		background_hover_color	: '#3EAF0E',	
		text_hover_color  		: '#FFF',
		images					: false,
		mouse					: 'press',
		onChange				: function(page){
			document.location.href = "/blist/{$bid}_{$sort}_"+(page-1)+".html";
			return false;
		}
	});
	$(".image img").lazyload({ 
		effect: "fadeIn",
		threshold : 200
	});

});
</script>
