<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="description" content="{$description}" />
	<meta name="keywords" content="{$keywords}" />
	<title>列表页面</title>	
	<link href="css/style.css" rel="stylesheet" type="text/css" />	
	<link href="css/nivo-slider.css" rel="stylesheet" type="text/css" />
	<!--[if IE]><link href="css/style-ie.css" rel="stylesheet" type="text/css" /><![endif]-->
	<script type="text/javascript" src="js/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="js/jquery.lazyload.js"></script>
	<script type="text/javascript" src="js/jquery.paginate.js"></script>
	<link href="css/jpage.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="js/page.js"></script>
</head>
<body>

<div class="header">
	<div class="container">
		<h1 style="margin:0;">
			<a href="/" title="utao">
				<img style="width:120p;height:50px;" src="img/logo.gif" alt="utao" />
			</a>
		</h1>
		<div class="z_b_wrap">
			<div class="z_txtwrap">
				<span class="z_s_l"></span>
				<span class="z_s_r"></span>
				<span class="text">
					<span name="kwPlaceholder" class="z_input_lab" style="display:none;">输入想查询的词</span>
					<input id="kwInput" value="{$kw}" placeholder="输入想查询的词" name="" type="text">
				</span>
			</div>
			<a class="z_btn_bf" id="searchBtn" href="javascript:;" title="播放" onclick="return false;">搜索</a>
		</div>
	</div>
</div>
<!-- // end #header -->
<div class="nav">
	<div class="container">
		{if:$this->guide_list}
		<ul class="menu fl">
			<li><a href="/" title="首页" >首页</a></li>
			{foreach:items=$this->guide_list}	
			<li ><a href="{$item['link']}" title="{$item['name']}" >{$item['name']}</a></li>
			{/foreach}
		</ul>
		{/if}
	</div>
</div>
<!-- // end nav -->

<div class="main">
	<div class="container">
		{if:$kw}
			<h2><b>共找到关于“<span style="color:red;">{$kw}</span>”的商品记录{$goodsNum}条</b></h3>
		{elseif:$cname}
			<h2><b>{$cname}</b></h3>
		{/if}
		<!-- 搜索过滤 -->
		<div id="catBox" class="catschoose">
			<ul class="operation_area">
				<li>
					{if:$subcat && count($subcat)}
					<dl id="subcat" class="clearfix {if:count($subcat)>15}less{/if}">
						<dt>类别：</dt>
						<dd>
							<dl>
								<dt><strong><a href="/?controller=frontend&action=glist&ids={$top_cid}_{$second_cid}_0_{$forth_cid}_{$bid}_{$prid}">全部</a></strong></dt>
								{foreach:items=$subcat item=$cat}

								<dd><a href="/?controller=frontend&action=glist&ids={$top_cid}_{$second_cid}_{$cat['id']}_{$forth_cid}_{$bid}_{$prid}" >{$cat['name']}</a></dd>

								{/foreach}
							</dl>
						</dd>
						{if:count($subcat)>15}
						<p class="more_cats"><strong><a href="javascript:;" >展开↓</a></strong></p>
						{/if}
					</dl>
					{/if}

					{if:$brands && count($brands)}
					<dl id="brands" class="clearfix {if:count($brands)>15}less{/if}">
						<dt>品牌：</dt>
						<dd>
							<dl>
								<dt><strong><a href="/?controller=frontend&action=glist&ids={$top_cid}_{$second_cid}_{$third_cid}_{$forth_cid}_0_{$prid}">全部</a></strong></dt>
								{foreach:items=$brands item=$brand}
								<dd><a href="/?controller=frontend&action=glist&ids={$top_cid}_{$second_cid}_{$third_cid}_{$forth_cid}_{$brand['id']}_{$prid}" >{$brand['name']}</a></dd>
								{/foreach}
								
							</dl>
						</dd>
						{if:count($brands)>15}
						<p class="more_cats"><strong><a href="javascript:;" >展开↓</a></strong></p>
						{/if}
					</dl>
					{/if}

					{if:$price_range && count($price_range) && ($brands||$subcat )}
					<dl id="price" class="clearfix ">
						<dt>价格：</dt>
						<dd>
							<dl>
								<dt><strong><a href="/?controller=frontend&action=glist&ids={$top_cid}_{$second_cid}_{$third_cid}_{$forth_cid}_{$bid}_0" >全部</a></strong></dt>
								{foreach:items=$price_range item=$range}
								{if:$key!=0}
								{set:$currentRange= $range-1;}
								<dd><a href="/?controller=frontend&action=glist&ids={$top_cid}_{$second_cid}_{$third_cid}_{$forth_cid}_{$bid}_{$key}" >{$lastRange}-{$currentRange}</a></dd>
								{/if}
								{set:$lastRange=$range}
								{/foreach}
							</dl>
						</dd>
					</dl>
					{/if}

				</li>
			</ul>
		</div>


		{if:count($goods_list)}
		<div>
			<!-- 排序选择 -->
			<ul class="sort clearfix">	
				<li class="tabitem"><a href="#" class="on" target="_self">最近上架</a></li>	
				<li class="tabitem"><a class="active" href="#" target="_self">最受好评</a></li>	
			</ul>
		</div>
		<div class="pagination"></div>
		<div id="itemContainer" class="row clearfix">
			{foreach:items=$goods_list item=$goods}
			<div class="column" {if:$key%5==0} style="margin-left:0;"{/if}>
				<div class="image">
					<a href="{$goods['url']}" title="{$goods['name']}" target="_blank">
						<img src="img/no_pic.gif" data-original="{$goods['list_img']}" alt="{$goods['name']}" />
					</a>
				</div>
				<p class="pro_price">
					<strong class="new_price">￥{$goods['sell_price']}</strong>
					原价：<span class="old_price">{$goods['market_price']}</span>
				</p>
				<p><a href="{$goods['url']}" title="{$goods['name']}" target="_blank">{echo:IString::substr($goods['name'],25,'....')}</a></p>
				<p class="sub_tip">{$goods['notes']}</p>
			</div>
			{/foreach}
		</div>
		<div class="pagination"></div>
		{else:}
		<div style="height:300px;line-height:300px;text-align:center;">
			{if:$prid}
			该价格范围下没有商品，建议您修改搜索条件</a>
			{else:}
			该分类下没有商品，您可以去 <a href="/" target="_self" title="首页看看"><b>首页看看~</b></a>
			{/if}
		</div>
		{/if}
	</div>
</div><!-- // end #main -->

<div class="footer">
	<div class="container">
		<div id="footer">www.utao.info 优淘 Copyright © 2012-2013</div>
	</div>
</div><!-- // end #fppter -->
	
	
</body>
</html>
<script type="text/javascript">
$(function(){
	$('.menu').find('a[href*="ids={$top_cid}_{$second_cid}_"]').addClass('active');
	$('#catBox').find('a').removeClass('active');
	$('#brands').find('a[href*="ids={$top_cid}_{$second_cid}_{$third_cid}_{$forth_cid}_{$bid}_{$prid}"]').addClass('active');
	$('#price').find('a[href*="ids={$top_cid}_{$second_cid}_{$third_cid}_{$forth_cid}_{$bid}_{$prid}"]').addClass('active');
	$('#subcat').find('a[href*="ids={$top_cid}_{$second_cid}_{$third_cid}_{$forth_cid}_{$bid}_{$prid}"]').addClass('active');
	$('.more_cats').unbind('click').click(function(){
		var parent = $(this).parent();
		if(parent.hasClass('less')){
			$(this).find('a').html('收起↑');
			parent.removeClass('less');
		}else{
			$(this).find('a').html('展开↓');
			parent.addClass('less');
		}	
	});

	$(".pagination").paginate({
		count 		: Math.ceil({$goodsNum}/40),
		start 		: parseInt({$page})+1,
		display     : 13,
		border		: false,
		background_color:'#f0f0f0',
		text_color  			: '#333',
		background_hover_color	: '#3EAF0E',	
		text_hover_color  		: '#FFF',
		images					: false,
		mouse					: 'press',
		onChange				: function(page){
			document.location.href = "/?controller=frontend&action=glist&ids={$top_cid}_{$second_cid}_{$third_cid}_{$forth_cid}_{$bid}_{$prid}&page="+(page-1);
			return false;
		}
	});
	$(".image img").lazyload({ 
		effect: "fadeIn",
		threshold : 200
	});

});
</script>
<p style="display:none;">
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F60d2ec0a4398cdc9ae7bf4aa6dd174d0' type='text/javascript'%3E%3C/script%3E"));
</script>
</p>