<div class="main">
	<div class="container">
		{if:$kw}
			<h2><b>共找到关于“<span style="color:red;">{$kw}</span>”的商品记录{$goodsNum}条</b></h3>
		{elseif:$cname}
			<h2><b>{$cname}</b></h3>
		{/if}
		<!-- 搜索过滤 -->
		<div id="catBox" class="catschoose">
			<ul class="operation_area">
				<li>
					{if:$subcat && count($subcat)}
					<dl id="subcat" class="clearfix {if:count($subcat)>15}less{/if}">
						<dt>类别：</dt>
						<dd>
							<dl>
								<dt><strong><a title="" href="/glist/{$top_cid}_{$second_cid}_0_{$forth_cid}_{$bid}_{$prid}_{$sort}.html{if:$kw}?kw={$kw}{/if}">全部</a></strong></dt>
								{foreach:items=$subcat item=$cat}

								<dd><a title="" href="/glist/{$top_cid}_{$second_cid}_{$cat['id']}_{$forth_cid}_{$bid}_{$prid}_{$sort}.html{if:$kw}?kw={$kw}{/if}" >{$cat['name']}</a></dd>

								{/foreach}
							</dl>
						</dd>
						{if:count($subcat)>15}
						<p class="more_cats"><strong><a title="" href="javascript:;" >展开↓</a></strong></p>
						{/if}
					</dl>
					{/if}

					{if:$brands && count($brands)}
					<dl id="brands" class="clearfix {if:count($brands)>15}less{/if}">
						<dt>品牌：</dt>
						<dd>
							<dl>
								<dt><strong><a title="" href="/glist/{$top_cid}_{$second_cid}_{$third_cid}_{$forth_cid}_0_{$prid}_{$sort}.html{if:$kw}?kw={$kw}{/if}">全部</a></strong></dt>
								{foreach:items=$brands item=$brand}
								<dd><a title="" href="/glist/{$top_cid}_{$second_cid}_{$third_cid}_{$forth_cid}_{$brand['id']}_{$prid}_{$sort}.html{if:$kw}?kw={$kw}{/if}" >{$brand['name']}</a></dd>
								{/foreach}
								
							</dl>
						</dd>
						{if:count($brands)>15}
						<p class="more_cats"><strong><a title="" href="javascript:;" >展开↓</a></strong></p>
						{/if}
					</dl>
					{/if}

					{if:$price_range && count($price_range) && ($brands||$subcat )}
					<dl id="price" class="clearfix ">
						<dt>价格：</dt>
						<dd>
							<dl>
								<dt><strong><a title="" href="/glist/{$top_cid}_{$second_cid}_{$third_cid}_{$forth_cid}_{$bid}_0_{$sort}.html{if:$kw}?kw={$kw}{/if}" >全部</a></strong></dt>
								{foreach:items=$price_range item=$range}
								{if:$key!=0}
								{set:$currentRange= $range-1;}
								<dd><a title="" href="/glist/{$top_cid}_{$second_cid}_{$third_cid}_{$forth_cid}_{$bid}_{$key}_{$sort}.html{if:$kw}?kw={$kw}{/if}" >{$lastRange}-{$currentRange}</a></dd>
								{/if}
								{set:$lastRange=$range}
								{/foreach}
							</dl>
						</dd>
					</dl>
					{/if}

				</li>
			</ul>
		</div>

		{if:count($goods_list)}
		<div style="display:;">
			<!-- 排序选择 -->
			<ul class="sort clearfix">	
				<li class="tabitem"><a title="" {if:$sort==0}class="active"{/if} href="/glist/{$top_cid}_{$second_cid}_{$third_cid}_{$forth_cid}_{$bid}_0.html{if:$kw}?kw={$kw}{/if}" target="_self">默认排序</a></li>	
				<li class="tabitem"><a title="" {if:$sort==1}class="active"{/if} href="/glist/{$top_cid}_{$second_cid}_{$third_cid}_{$forth_cid}_{$bid}_0_1.html{if:$kw}?kw={$kw}{/if}"  target="_self">销量高→底</a></li>	
				<li class="tabitem"><a title="" {if:$sort==2}class="active"{/if} href="/glist/{$top_cid}_{$second_cid}_{$third_cid}_{$forth_cid}_{$bid}_0_2.html{if:$kw}?kw={$kw}{/if}"  target="_self">折扣多→少</a></li>
			</ul>
		</div>
		<div class="pagination" style="margin-top:20px;margin-bottom:20px;"></div>
		<div id="itemContainer" class="row clearfix">
			{foreach:items=$goods_list item=$goods}
			<div class="column" {if:$key%4==0} style="margin-left:0;"{/if}>
				<p class="from" style="display:none;">{$goods['bname']}</p>
				<a title="" href="/buy/{$goods['id']}.html" title="{$goods['name']}" target="_blank">
					<div class="image">
							<img src="{webroot:}img/no_pic.gif" data-original="{$goods['list_img']}" alt="{$goods['name']}" />
					</div>
				</a>
				<p class="pro_price">
					<strong class="new_price">
						￥{$goods['sell_price']}
						
						{if:$goods['discount']<9.5}
						<span style="color:grey">(</span><span style="color:green">{$goods['discount']}折</span><span style="color:grey">)</span>
						{/if}
					</strong>
					<span class="old_price">￥{$goods['market_price']}</span>
				</p>
				
				<p class="name">{echo:IString::substr($goods['name'],42,'....')}</p>
				<p class="volume">月销量：{$goods['volume']}</p>
				<p class="brand">品牌：<a  title="{$goods['bname']}" href="/blist/{$goods['brand_id']}.html">{$goods['bname']}</a></p>
				<p class="gobuy"><a href="/buy/{$goods['id']}.html" title="去看看" target="_blank">去看看</a></p>
			</div>
			{/foreach}
		</div>
		<div class="pagination"></div>
		{else:}
		<div style="height:300px;line-height:300px;text-align:center;">
			{if:$prid}
			该价格范围下没有商品，建议您修改搜索条件</a>
			{else:}
			该分类下没有商品，您可以去 <a href="/" target="_self" title="首页看看"><b>首页看看~</b></a>
			{/if}
		</div>
		{/if}
	</div>
</div><!-- // end #main -->

<script type="text/javascript">
$(function(){
	$('.menu').find('a[href*="glist/{$top_cid}_{$second_cid}_"]').addClass('active');
	$('#catBox').find('a').removeClass('active');
	$('#brands').find('a[href*="glist/{$top_cid}_{$second_cid}_{$third_cid}_{$forth_cid}_{$bid}_{$prid}"]').addClass('active');
	$('#price').find('a[href*="glist/{$top_cid}_{$second_cid}_{$third_cid}_{$forth_cid}_{$bid}_{$prid}"]').addClass('active');
	$('#subcat').find('a[href*="glist/{$top_cid}_{$second_cid}_{$third_cid}_{$forth_cid}_{$bid}_{$prid}"]').addClass('active');
	$('.more_cats').unbind('click').click(function(){
		var parent = $(this).parent();
		if(parent.hasClass('less')){
			$(this).find('a').html('收起↑');
			parent.removeClass('less');
		}else{
			$(this).find('a').html('展开↓');
			parent.addClass('less');
		}	
	});

	$(".pagination").paginate({
		count 		: Math.ceil({$goodsNum}/{$pagesize}),
		start 		: parseInt({$page})+1,
		display     : 13,
		border		: false,
		background_color:'#f6f6f6',
		text_color  			: '#333',
		background_hover_color	: '#3EAF0E',	
		text_hover_color  		: '#FFF',
		images					: false,
		mouse					: 'press',
		onChange				: function(page){
			document.location.href = "/glist/{$top_cid}_{$second_cid}_{$third_cid}_{$forth_cid}_{$bid}_{$prid}_{$sort}_"+(page-1)+".html{if:$kw}?kw={$kw}{/if}";

			return false;
		}
	});
	$(".image img").lazyload({ 
		effect: "fadeIn",
		threshold : 200
	});

});
</script>
