<div class="main">
	<div class="container">
		{if:count($slide)}
		<div id="slideshow">
			{foreach:items=$slide}
			<a href="{$item['url']}" title="{$item['name']}" target="_blank">
				<img src="img/no_pic.gif" data-original="{webroot:$item[img]}" alt="{$item['name']}" />
			</a>
			{/foreach}
		</div>

		{/if}
		{if:count($goods_list)}
		{set:$index=0}
		{foreach:items=$goods_list item=$category_goods}
		{set:$index=$index+1}
		<div class="floor_hd color{$index}">
			<h3><span class="name">{$category_goods['cname']}</span></h3>
			<ul class="hotwords">
				<li><a href="/glist/1_{$key}_0_0_0_0.html">可以有更多>></a></li>
			</ul>
		</div>
		<div  class="row clearfix">
			{foreach:items=$category_goods item=$goods}
			{if:$key!=='cname'}
			<div class="column" {if:$key%4==0} style="margin-left:0;"{/if}>
				<p class="from" style="display:none;">{$goods['bname']}</p>
				<a href="/buy/{$goods['id']}.html" title="{$goods['name']}" target="_blank">
					<div class="image">
							<img src="{webroot:}img/no_pic.gif" data-original="{$goods['list_img']}" alt="{$goods['name']}" />
					</div>
				</a>
				<p class="pro_price">
					<strong class="new_price">
						￥{$goods['sell_price']}
						
						{if:$goods['discount']<9.5}
						<span style="color:grey">(</span><span style="color:green">{$goods['discount']}折</span><span style="color:grey">)</span>
						{/if}
					</strong>
					<span class="old_price">￥{$goods['market_price']}</span>
				</p>
				
				<p class="name">{echo:IString::substr($goods['name'],42,'....')}</p>
				<p class="volume">月销量：{$goods['volume']}</p>
				<p class="brand">品牌：<a href="/blist/{$goods['brand_id']}.html">{$goods['bname']}</a></p>
				<p class="gobuy"><a href="/buy/{$goods['id']}.html" title="去看看" target="_blank">去看看</a></p>
			</div>
			{/if}
			{/foreach}
		</div>


		{/foreach}
		{/if}
	</div>
</div><!-- // end #main -->
<script type="text/javascript" src="js/jquery.nivo.slider.js"></script>
<script type="text/javascript">
	$(function(){
		$('.menu a').eq(0).addClass('active');
		$(".image img").lazyload();
		$("#slideshow img").lazyload({
			load:function(){
					$('#slideshow').nivoSlider({
						directionNav: false
					});
				},
			effect: "fadeIn",
			threshold : 200
		});
	});
</script>

