{js:kindeditor}
{js:my97date}
{set:$siteConfig = new Config("site_config");$siteConfig = $siteConfig->getInfo();}
<script type='text/javascript' src="{theme:javascript/swfupload.js}"></script>
<script type='text/javascript' src="{theme:javascript/swfupload.queue.js}"></script>
<script type="text/javascript" src="{theme:javascript/fileprogress.js}"></script>
<script type="text/javascript" src="{theme:javascript/handlers.js}"></script>
<script type="text/javascript" src="{theme:javascript/event.js}"></script>
<script language="javascript" src="{theme:javascript/wordseg.js}"></script>
<script type="text/javascript">
	var swfu;
	window.onload = function () {
		swfu = new SWFUpload({
			// Backend Settings
			upload_url: "{url:/goods/goods_img_upload/admin_name/$admin_name/admin_pwd/$admin_pwd}",
			post_params: {"PHPSESSID": "NONE"},

			file_size_limit : "2 MB",	// 2MB
			file_types : "*.jpg;*.jpge;*.png;*.gif",
			file_types_description : "JPG Images",
			file_upload_limit : "0",
			file_queue_error_handler : fileQueueError,
			file_dialog_complete_handler : fileDialogComplete,
			upload_progress_handler : uploadProgress,
			upload_error_handler : uploadError,
			upload_success_handler : uploadSuccess,
			upload_complete_handler : uploadComplete,

			// Button Settings
			button_placeholder_id : "upload",
			button_width: 50,
			button_height: 21,
			button_text : '浏览...',
			button_window_mode: SWFUpload.WINDOW_MODE.TRANSPARENT,
			button_cursor: SWFUpload.CURSOR.HAND,

			// Flash Settings
			flash_url : "{theme:javascript/swfupload.swf}",

			custom_settings : {
				upload_target : "show"
			},
			// Debug Settings
			debug: false
		});
	};
	function show_link(img)
	{
		art.dialog.open('{url:/block/goods_photo_link/?img=}'+img, {
			id:'goods_photo_link',
			width:'700px',
			height:'160px',
			lock: true,
		    title: '图片链接'
		});
	}
	function del_img(id)
	{
		//删除数组元素.
		Array.prototype.remove=function(dx)
		{
		    if(isNaN(dx)||dx>this.length){return false;}
		    for(var i=0,n=0;i<this.length;i++)
		    {
		        if(this[i]!=this[dx])
		        {
		            this[n++]=this[i]
		        }
		    }
		    this.length-=1
		}
		//在数组中获取指定值的元素索引
		Array.prototype.getIndexByValue= function(value)
		{
		    var index = -1;
		    for (var i = 0; i < this.length; i++)
		    {
		        if (this[i] == value)
		        {
		            index = i;
		            break;
		        }
		    }
		    return index;
		}
		var photo_name = $('#photo_name').val();
		photo_name = photo_name.substring(0,photo_name.length-1);
		var arr = photo_name.split(',');
		var key = 0;
		for(var i=0;i<arr.length;i++){
			if(arr[i].indexOf(id)>0){
				key = i;
			}
		}
		arr.remove(key);
		if(arr.length>0)
		{
			//如果没有全部删除则不为空
			$('#photo_name').val(arr.join(',')+',');
			$("#a"+id).remove();
			var focus_photo = $('#focus_photo').val();
			if(focus_photo.indexOf(id)>0)
			{
				var photo_ar = arr.join(',');
				if(photo_ar!='')
				{
					p_arr = photo_ar.split(',');
					var head = p_arr[0].substring(0,p_arr[0].indexOf('.'));
					var footer = p_arr[0].substring(p_arr[0].indexOf('.'));
					var thumb = $('#thumb').val();
					$('#focus_photo').val(head+footer);
					$('img').each(function(){
						var src = $(this).attr("src");
						if(src.indexOf(head+thumb+footer)>0)
						{
							$(this).addClass('current');
							return;
						}
					});
				}
			}
		}else{
			//如果图片全部删除则值为空
			$('#photo_name').val("");
			$('#focus_photo').val("");
			$("#a"+id).remove();
		}
	}
	function focus_img(little,obj)
	{
		$('#focus_photo').val(little);
		$("img[name='img_name']").removeClass('current');
		obj.className = 'current';
	}



	function group(m,n)
	{
	    var tem = new Array();
	    var num = 0;
	    for(var i=0;i<m.length;i++)
	    {
	        for(var j=0;j<n.length;j++)
	        {
	            tem[num++] =m[i]+'|'+n[j];
	        }
	    }
	    return tem;
	}

	//hash生成唯一id
	function hash(str)
	{
		var len  = str.length;
		var g;
		var result=0;
		for(var i=0;i<len;i++)
		{
			result = (result<<4) + str.charCodeAt(i);
			if((g = (result & 0xF0000000)))
			{
				result = result^(g>>24);
				result = result^g;
			}
		}
		return Math.abs(result);
	}


	//会员价格
	function memPrice(aproduct_id,product_id)
	{
		var sell_price = $('#sell_price'+product_id).val();
		if(product_id=='g')
		{
			sell_price = $('#sell_price').val();
		}
		var patrn=/^[0-9]{1,20}.[0-9]{1,2}$/;
		if(!patrn.exec(sell_price))
		{
			sell_price = 0;
		}
		var goods_id = '{$goods_id}';
		var tempUrl = '{url:/goods/member_price_edit/product_id/@product_id@/sell_price/@sell_price@/goods_id/@goods_id@}';
			tempUrl = tempUrl.replace('@product_id@',aproduct_id);
			tempUrl = tempUrl.replace('@sell_price@',sell_price);
			tempUrl = tempUrl.replace('@goods_id@',goods_id);
		art.dialog.open(tempUrl,{
			id:'member',
			width:'500px',
			height:'200px',
		    title: '会员价格',
		    yesFn: function(iframeWin, topWin){
			 var form = iframeWin.document.getElementById('list'),
			 	 ids = iframeWin.$('#ids').val(),
			 	 num = iframeWin.$('#product_id').val();
			 	 if(ids.length>0)
			 	 {
			 		ids = ids.substring(0,ids.length-1);
			 		var arr = ids.split(',');
			 		//获得已有会员价格的id
			 		var group_id = $('#group_id').val();
			 		var group_arr = group_id.split(',');
			 		for(var i=0;i<arr.length;i++)
				 	{
					 	var member = iframeWin.$('#mem_'+num+'_'+arr[i]).val();
					 	//判断原来是否有会员价格，如果有则将原来的覆盖，没有则生成新的
					 	var flag = 0;
					 	for(var j=0;j<group_arr.length;j++)
					 	{
						 	var mem_name='mem_'+group_arr[j]+'_'+num+'_'+arr[i];
					 		var mem_value = $('#'+mem_name).val();
					 		if(mem_value!=undefined)
					 		{
					 			$('#'+mem_name).val(member);
					 			if($.trim(member)==''){
					 				$('#'+mem_name).remove();
							 	}
					 			flag = 1;
					 		}
					 	}
					 	if(flag==0)
					 	{
					 		var mem0 = 'mem_0_'+num+'_'+arr[i];
						 	var mem0_val = $('#'+mem0).val();
						 	if(mem0_val==undefined)
						 	{
						 		var html = '<input type="hidden" id="mem_0_'+num+'_'+arr[i]+'" name="mem_0_'+num+'_'+arr[i]+'" value="'+member+'"/>';

					 			$('#member_para').append(html);
						 	}else{
						 		$('#'+mem0).val(member);
							}
					 	}
					}
		 	 	}
			form.submit();
			}
		});
	}

	$(document).ready(function(){
		//初始化keywords
		{foreach:items=$form['keywords_for_search']}
		addTagWord('{$item}');
		{/foreach}
		$("#goods_name").blur(function(){clearTagWord();wordSegByRemote();});
		regMoveTagWord();
	});

	function wordSegByRemote()
	{
		if($("#goods_name").val()=="" )
		{
			return "";
		}
		var arr={};
		arr.title=$("#goods_name").val();
		arr.random=Math.random();
		var url='{url:/goods/word_seg}';
		$.getJSON(url,arr,function(data){
			if(data['flag']==1)
			{
				var words = data['data'];
				for(var key in words )
				{
					addTagWord(words[key] , true);
				}
			}
		},'json');
	}
	//关闭窗口
	function closeSpec()
	{	window.frames[3].getSpecList();
		art.dialog({id:'spec_edit'}).close();
	}
</script>

<style type='text/css'>
	.wordBox{display:inline-block;padding:3px;background:#ddd;margin:5px;color:#000;font-size:12px;}
	.wordBoxButton{background:#999;cursor:pointer;padding:2px;margin:2px;border-radius:3px;}
	.wordBoxButton:hover{background:#bbb}
</style>

<div class="headbar clearfix">
	<div class="position"><span>商品</span><span>></span><span>商品管理</span><span>></span><span>商品修改</span></div>
	<ul class="tab" name="menu1">
		<li id="li_1" class="selected"><a href="javascript:void(0)" hidefocus="true" onclick="select_tab('1')">商品信息</a></li>
		<li id="li_2"><a href="javascript:void(0)" hidefocus="true" onclick="select_tab('2')">描述</a></li>
		<li id="li_3"><a href="javascript:void(0)" hidefocus="true" onclick="select_tab('3')">营销选项</a></li>
	</ul>
</div>
<div class="content_box">
	<div class="content form_content">
		<form action="{url:/goods/goods_update/}" name="ModelForm" method="post">
			<div id="table_box_1">
			<table class="form_table">
				<col width="150px" />
				<col />
				<tr>
					<th>商品名称：</th>
					<td><input class="normal" name="goods_name" id="goods_name" type="text" value="{$form['goods_name']}" pattern="required" alt="商品名称不能为空" /><label>*</label>
						<input name="goods_id" type="hidden" value="{$goods_id}" />
						<button class='submit' type="button" onclick="art.dialog.prompt('请输入关键词',function(data){addTagWord(data);});"><span>添加关键词</span></button>
					</td>
				</tr>
					<tr>
						<th>商品简述：</th>
						<td><input class="normal" id="goods_notes" name="goods_notes" type="text" value="{$form['notes']}" />
						</td>
					</tr>
				<tr id="trTagWord" style="display:none;">
					<th>关键词：</th>
					<td>
						<div id="tagWord"></div>
						<label>每个关键词最长为15个字符，超过后系统不予存储</label>
					</td>
				</tr>
				<tr>
					<th>所属分类：</th>
					<td>
						<ul class="select">
						{foreach:items=$category item=$value}
						<li><label><input type="radio" value="{$value['id']}" name="goods_category"
						{query:name=category_extend where=goods_id eq $goods_id}
						{if:isset($item['category_id'])&&$item['category_id']==$value['id']} checked {/if}
						{/query}
						 />{$value['name']}</label></li>
						{/foreach}
						</ul>
					</td>
				</tr>
				
				<tr>
					<th>商品标签：</th>
					<td>
						<label class="attr"><input name="goods_commend[]" type="checkbox" value="1"  {if:strpos($commend_goods,'1')!==false}checked{/if}/>最新商品</label>
						<label class="attr"><input name="goods_commend[]" type="checkbox" value="2"  {if:strpos($commend_goods,'2')!==false}checked{/if}/>特价商品</label>
						<label class="attr"><input name="goods_commend[]" type="checkbox" value="4"  {if:strpos($commend_goods,'4')!==false}checked{/if}/>推荐商品</label>
						<label class="attr"><input name="goods_commend[]" type="checkbox" value="3"  {if:strpos($commend_goods,'3')!==false}checked{/if}/>热卖排行</label>
					</td>
				</tr>
				<tr>
					<th>商品品牌：</th><td><select name="goods_brand">
					<option value="0">请选择</option>
					{query:name=brand}
					<option value="{$item['id']}" {if:isset($form['brand_id'])&&$form['brand_id']==$item['id']} selected {/if}>{$item['name']}</option>
					{/query}
					</select></td>
				</tr>
				<tr>
					<th>是否上架：</th><td>
						<label class='attr'><input type="radio" name="goods_status" value="0" {if:$form['is_del']==0}checked="checked"{/if}> 是</label>
						<label class='attr'><input type="radio" name="goods_status" value="2" {if:$form['is_del']!=0}checked="checked"{/if}> 否</label>
					</td>
				</tr>
				<tr>
					<th>商品来源：</th>
					<td><input class="normal" id="goods_from" name="goods_from" type="text" value="{$form['from']}" />
					</td>
				</tr>
				<tr>
					<th>商品卖主称呼：</th>
					<td><input class="normal" id="goods_sellernick" name="goods_sellernick" type="text" value="{$form['sellernick']}" />
					</td>
				</tr>
				<tr>
					<th>商品佣金：</th>
					<td><input class="normal" id="goods_commission" name="goods_commission" type="text" value="{$form['commission']}" />
					</td>
				</tr>
				<tr>
					<th>商品页面地址：</th>
					<td><input class="normal" id="goods_url" name="goods_url" type="text" value="{$form['url']}" />
					</td>
				</tr>

				<tr id="affili">
					<th>附属数据：</th>
					<td>
						<div class="con">
							<table class="border_table">
							<thead>
							<tr>
								<td>积分</td><td>排序</td><td>计量单位</td><td>经验值</td>
							</tr>
							<tr>
								<td><input class="small" name="point" id="point" type="text" empty pattern="int" value="{$form['point']}"/></td>
								<td><input class="small" name="sort" id="sort" type="text" pattern="int" empty value="{$form['sort']}"/></td>
								<td><input class="small" name="store_unit" id="store_unit" type="text" value="{$form['unit']}"/></td>
								<td><input class="small" name="exp" type="text" pattern="int" empty value="{$form['exp']}"/></td>
							</tr>
							</thead>
							</table>
						</div>
					</td>
				</tr>
				<tr id="base" >
					<th>基本数据：</th>
					<td>
						<div class="con">
							<table class="border_table">
							<thead>
							<tr>
								<td>商品货号</td><td>库存</td><td>市场价格</td><td>销售价格</td><td>成本价格</td><td>重量</td>
							</tr>
							<tr>
								<td><input class="middle" id="goods_no" name="goods_no" type="text" value="{$form['goods_no']}"/></td>
								<td><input class="tiny" name="store_nums" id="store_nums" type="text" value="{$form['store_nums']}" pattern="int"/></td>
								<td><input class="tiny" name="market_price" id="market_price" type="text" value="{$form['market_price']}" pattern="float" empty/></td>
								<td><input class="tiny" name="sell_price" id="sell_price" type="text" id="sell_price" value="{$form['sell_price']}" pattern="float" empty/><button class="btn" type="button" onclick="memPrice('g','g');"><span class="add">会员价格</span></button></td>
								<td><input class="tiny" name="cost_price" id="cost_price" type="text" value="{$form['cost_price']}" pattern="float" empty/></td>
								<td><input class="tiny" name="weight" id="weight" type="text" value="{$form['weight']}" pattern="float" empty /><em>克(g)</em></td>
							</tr>
							</thead>
							</table>
						</div>
					</td>
				</tr>
				<tr>
					<th>小图地址：</th>
					<td>
						<input class="normal" id="small_img" name="small_img" type="text" value="{$form['small_img']}" />
					</td>
				</tr>
				<tr>
					<th>中图地址：</th>
					<td>
						<input class="normal" id="list_img" name="list_img" type="text" value="{$form['list_img']}" />
					</td>
				</tr>
	
				<tr>
					<th>大图地址：</th>
					<td>
						<input class="normal" id="goods_img" name="goods_img" type="text" value="{$form['img']}" />
					</td>
				</tr>
				<tr><input type="hidden" name="photo_name" id="photo_name" value="{$photo_name}"/><input type="hidden" name="focus_photo" id="focus_photo" value="{$form['focus_photo']}"/>
					<input type="hidden" name="thumb" id="thumb" value="{$form['thumb']}"/>
					<th>产品相册：</th><td><input class="middle" name="" type="text" /><div class="upload_btn"><span id="upload"></span></div><label>可以上传多张图片。上传后，大中小图设置无效</label></td>
				</tr>
				<tr>
					<td></td><td id="show"></td>
				</tr>
				<tr>
					<td></td>
					<td id="show_list">
					{if:count($goods_photo)>0}
						{foreach:items=$goods_photo}
						{set:$url = $item['img'];}
						{if:!empty($url)}
						{set:$url = substr($url,0,strpos($url,'.'));$url = substr(strrchr($url,'/'),1);}
						{set:$foot = substr($item['img'],strpos($item['img'],'.'));$head = substr($item['img'],0,strpos($item['img'],'.'));}
						{set:$show = $head.$show_attr.$foot}
							<span id="a{$url}" class="pic">
								<img name="img_name" {if:strpos($form['focus_photo'],$item['img'])!==false}class="current"{/if} style="margin: 5px; opacity: 1;" src="{echo:IUrl::creatUrl().$show}" onclick="focus_img('{$item['img']}',this)">
								<br>
								<a href="javascript:;" style="padding-right:1em" onclick="show_link('{$item['img']}')">链接</a>
								<a id="{$url}" href="javascript:;" onclick="del_img(this.id)">删除</a>
							</span>
						{/if}
						{/foreach}
					{/if}
					</td>
				</tr>
			</table>
			</div>
			<div id="table_box_2" cellpadding="0" cellspacing="0" style="display:none">
				<table class="form_table">
					<col width="150px" />
					<col />
					<tr>
						<th>描述：</th>
						<td><textarea id="content1" name="content" style="width:530px;height:350px;visibility:hidden;">{echo:htmlspecialchars($form["content"])}</textarea></td>
					</tr>
				</table>
				<input type="hidden" name="keywords_for_search" id="keywords_for_search" />
			</div>
			<div id="table_box_3" cellpadding="0" cellspacing="0" style="display:none">
				<table class="form_table">
					<col width="150px" />
					<col />
					<tr>
						<th>SEO关键词：</th><td><input class="normal" name="seo_keywords" type="text" value="{$form['seo_keywords']}" /></td>
					</tr>
					<tr>
						<th>SEO描述：</th><td><textarea name="seo_description" cols="" rows="">{$form['seo_description']}</textarea></td>
					</tr>
				</table>
			</div>
			<table class="form_table">
				<col width="150px" />
				<col />
				<tr>
					<td></td><td><button class="submit" type="submit" onclick="return checkForm()"><span>保存商品</span></button></td>
				</tr>
			</table>
		</form>
	</div>
</div>

<script language="javascript">
	KE.show({
		id : 'content1',
		imageUploadJson:'{url:/block/upload_img_from_editor}'
	});
	function select_tab(curr_tab)
	{
		$("form[name='ModelForm'] > div").hide();
		$("#table_box_"+curr_tab).show();
		$("ul[name=menu1] > li").removeClass('selected');
		$('#li_'+curr_tab).addClass('selected');
	}
	function checkForm()
	{
		var goods_name = $.trim($('#goods_name').val());
		var aa = /^([A-Z]|[a-z]|[\d]|[\-])*$/;
		var good_no = $('#goods_no').val();
		var point = $.trim($('#point').val());
		var store_nums = $.trim($('#store_nums').val());
		if(good_no!='')
		{
			if(!aa.test(good_no))
			{
				$('#goods_no').focus();
				alert('商品货号格式不正确!');
				return false;
			}
		}

		var box = document.getElementsByName('goods_category');
		var first = '0';
		for (var i=0;i<box.length;i++ ){
		  if(box[i].checked){
			  first = '1';
		  }
		}
		if(first=='0')
		{
			select_tab('1');
			alert('请选择所属分类!');
			return false;
		}
		if(goods_name=='' || point=='' || store_nums=='')
		{
			select_tab('1');
		}
		var focus_photo = $('#focus_photo').val();
		var photo_name = $('#photo_name').val();
		if(photo_name!='' && photo_name!=',')
		{
			if(focus_photo=='')
			{
				alert('请选择一个默认图片!');
				select_tab('1');
				return false;
			}
		}

	}
</script>
